{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aido test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="header navbar-expand-lg">
        <!-- Navbar -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>

        
        <div class="header-right">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <form>
                    <input id="words" onkeydown="press(this)" type="text"  name="search" placeholder="Search..">
                </form> -->
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand pl-2 mt-3" href="#"><h3><b>Hospitals</b></h3></a>
            </div>
            <ul class="nav navbar-nav mb-2">
            </ul>
        </div>
    </nav>

    
    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="max-width: fit-content;">
        <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
            
                <thead>
                    <tr>
                    <th id="hospitalsName">Hospital's Name</th>
                    <th id="hospitalsAddress">Address</th>
                    <th id="hospitalsRegion">Region</th>
                    <th id="hospitalsPhone">Phone</th>
                    <th id="hospitalsProvince">Province</th>
                    </tr>
                </thead>
                <tbody id="rsTable">

                    {% for rs in response %}
                    <tr>
                        <td>{{rs.name}}</td>
                        <td>{{rs.address}}</td>
                        <td>{{rs.region}}</td>
                        <td>{{rs.phone}}</td>
                        <td>{{rs.province}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</body>
 <!-- JS, Popper.js, and jQuery -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script>
    function press(teks){
      if (event.key == 'Enter'){
        search(teks);
      }
    }

    function search(words) {
      words = document.getElementById('words').value;
    }
  </script>
